.app {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.app__content_section {
  align-items: center;
  background-color: rgb(205, 252, 140);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.app__content_section__logo {
  width: 128px;
}
